.CODEX_pion_jaune{
    -fx-background-image: url("pedine/pedina_gialla.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.CODEX_pion_bleu{
    -fx-background-image: url("pedine/pedina_blu.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.CODEX_pion_rouge{
    -fx-background-image: url("pedine/pedina_rossa.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.CODEX_pion_vert{
    -fx-background-image: url("pedine/pedina_verde.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.backgroundInGame{
    -fx-background-image: url("sfondo_inGame.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.roundBorder{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-radius: 5;
}

.front_sample{
    -fx-background-image: url("toBeDeleted/frontSample.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.back_sample{
    -fx-background-image: url("toBeDeleted/backSample.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.title-page-image {
    -fx-background-image: url('loginPageResources/CodexSfondo.jpg');
    -fx-background-size: cover, auto;
}

.lobbies-page-image {
    -fx-background-image: url('lobbiesPageResources/LobbiesImage.jpg');
    -fx-background-size: cover, auto;
}

.lobbies-box {
    -fx-font-size: 1.2em;
    -fx-background-color: #FFF;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}






* {
    -fx-font-family: "Indie Flower";
}

.root {
}

.h2 {
    -fx-font-size: 3em;
}

.h4 {
    -fx-font-size: 2em;
}

.h5 {
    -fx-font-size: 1.5em;
}

.h6 {
    -fx-font-size: 1.2em;
}

.nickname-label {
    -fx-font-size: 2em;
    -fx-text-fill: #5C3317;
    -fx-font-weight: bold;
}

.login-container {
    -fx-background-color: #FFFFFFEE;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.nickname-input {
    -fx-font-size: 1.3em;
}

.footer {
    -fx-background-color: #FFFFFFEE;
}



.rankingContainer {
    -fx-background-color: #F2E5BC;
    -fx-text-fill: #FFFFFFEE;
}

.rankingContainer .label{
    -fx-text-fill: #827a2d;
    -fx-text-transform: italic;
}

.EndGameContainer .button{
    -fx-text-fill: #827a2d;
    -fx-text-transform: italic;
    -fx-background-color: #F2E5BC;
    -fx-background-radius: 0.4em;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.1em;
    -fx-background-insets: 0;
}

#rankingTable {
    -fx-background-color: #F2E5BC;
    -fx-background-radius: 0.1em;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.5em;
    -fx-text-fill: #FFFFFFEE;
    -fx-border-radius: 0.1em;
    -fx-background-insets: 0;
}

#titleEndGame {
    -fx-text-fill: #5C3317;
    -fx-text-transform: italic;
    -fx-background-color: #F2E5BC;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.1em;
    -fx-padding: 0.5em;
    -fx-border-radius: 0.1em;
    -fx-background-radius: 0.4em;
    -fx-background-insets: 0;
}

.rankingContainer .nickname_LBL{
    -fx-text-fill: black;
}

.rankingContainer .nickname_LBL {
    -fx-text-fill: black;
}
.rankingContainer .pointsLBL {
    -fx-text-fill: #5C3317;
}



#leaderboardTable {
    -fx-background-color: #F2E5BC;
    -fx-background-radius: 1em;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.5em;
    -fx-text-fill: #FFFFFFEE;
    -fx-border-radius: 0.1em;
    -fx-background-insets: 0;
}

#leaderboardTable .table-column {
    -fx-text-alignment: center;
    -fx-background-color: F2E5BC;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-font-size: 1.5em;
}

#leaderboardTable .table-column-header {
    -fx-text-alignment: center;
    -fx-background-color: F2E5BC;
    -fx-alignment: center;

}

.table-view .column-header-background {
    -fx-background-color: #5C3317; /* Set the desired header color */
    -fx-padding: 5px;
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-text-fill: white; /* Set the text color of the header */
    -fx-font-size: 2em;
}

.table-view .table-cell{
    -fx-alignment: CENTER;
    -fx-font-size: 1.5em;
}  .




